.item1p {
	position: absolute;
	height: 100px;
	width: 100px;
	background: url("../Images/Mediamatiker.jpg");
	background-size: 100px;
	z-index: 1000;
}

.item2p {
	position: absolute;
	height: 100px;
	width: 100px;
	background: url("../Images/Mediamatiker3.png");
	background-size: 100px;
	z-index: 1000;
}

.item3p {
	position: absolute;
	height: 100px;
	width: 100px;
	background: url("../Images/Mediamatiker2.png");
	background-size: 100px;
	z-index: 1000;
}

.item4p {
	position: absolute;
	height: 100px;
	width: 100px;
	background: url("../Images/Mediamatiker2.png");
	background-size: 100px;
	z-index: 1000;
}

.item5p {
	position: absolute;
	height: 100px;
	width: 100px;
	background: url("../Images/Mediamatiker2.png");
	background-size: 100px;
	z-index: 1000;
}

.item1n {
	position: absolute;
	height: 100px;
	width: 100px;
	background: url("../Images/Schlecht1.png");
	background-size: 100px;
	z-index: 1000;
}

.item2n {
	position: absolute;
	height: 100px;
	width: 100px;
	background: url("../Images/Produktion2.jpg");
	background-size: 100px;
	z-index: 1000;
}

.item3n {
	position: absolute;
	height: 100px;
	width: 100px;
	background: url("../Images/Logistik.jpg");
	background-size: 100px;
	z-index: 1000;
}