body,
html {
	height: 100%;
}
.bgimg {
	background-image: url("../Images/Background/backgrounds-3.jpg");
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

.bgimg-index {
	background-image: url("../Images/Background/backgrounds-3.jpg");
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	font-size: 35px;
	color: #004d78;
	margin-bottom: 22px;
	line-height: 1.5;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	font-size: 35px;
	color: #004d78;
	margin-bottom: 22px;
	line-height: 1.5;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	font-size: 20px;
	color: #b08336;
	margin-bottom: 22px;
	line-height: 1.5;
}
h1.gross {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	font-size: 54px;
	color: #004d78;
	margin-bottom: 0px;
	line-height: 1;
}

h2.gross {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	font-size: 54px;
	color: #004d78;
	margin-bottom: 0px;
	line-height: 1;
}

h3.gross {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	font-size: 29px;
	color: #b08336;
	margin-bottom: 50px;
	line-height: 1;
}

h3.gross-m {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	font-size: 29px;
	color: #b08336;
	margin-bottom: 0px;
	line-height: 1;
}

p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #000;
	margin-bottom: 25px;
	line-height: 1.5;
}

p.footer {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #000;
	margin-bottom: 25px;
}

.button {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	background: #004d78;
	border-radius: 7px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;

	padding: 14px 12px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: 0.225s ease-out, color 0.225s ease-out;
	width: 100%;
	margin-bottom: 22px;
}

.button:hover {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	background: #6f6f6f;
	border-radius: 7px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	padding: 14px 12px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: 0.225s ease-out, color 0.225s ease-out;
	margin-bottom: 22px;
}
